<!--City Tours Begins-->
<section class='column drk-blue-bg' id="menuThree">
    <div class='container is-fluid'>
        <div class='section-title'>
            <div class='line white-bg'></div>
            <h2 class='white'>City Tours</h2>
            <div class='line white-bg'></div>
        </div>
        <p class='section-subtitle'>Take a tour to the most iconic places in Miami.</p>
        <div class='columns is-multiline is-centered is-ancestor xtra-flex'>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>Brickell is a urban neighborhood of Greater Downtown Miami.
                            Settled in the mid 19th century by early pioneers, kept growing to become Miami's
                            "Millionaire's Row"
                            in the 20th century and today is one of the largest financial districts in the US.</p>
                    </div>
                    <img class='img-fit' src="/assets/images/CityTour_Brickell.jpg" alt="Building at Brickell, Miami">
                    <p class='img-tags tour-tag drk-blue'>Brickell neighborhood</p>
                </div>
            </div>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>Dubbed "The City Beautiful", Coral Gables is known for its
                            tree-lined boulevards,
                            ivy-covered mansions and historical landmarks such as the world-famous Biltmore Hotel and
                            the Venetian Pool,
                            both built in the 1920s.</p>
                    </div>
                    <img class='img-fit' src="/assets/images/CityTour_CoralGables.jpg" alt="Coral Gables picture, Miami">
                    <p class='img-tags tour-tag drk-blue'>Coral Gables</p>
                </div>
            </div>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>Coconut Grove is an upscale, leafy neighborhood with relaxed
                            sidewalk cafes and chic
                            shops in and around the CocoWalk mall. Visit the Barnacle Historic State Park, home to a
                            mangrove forest, the
                            iconic Vizcaya Museum and Gardens The sailing clubs and marinas dot the waterfront.</p>
                    </div>
                    <img class='img-fit' src="/assets/images/CityTour_CoconutGrove.jpg" alt="Coconut Grove area, Miami">
                    <p class='img-tags tour-tag drk-blue'>Coconut Grove</p>
                </div>
            </div>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>The Design District is known for its sleek modern architecture,
                            upscale interior design
                            stores and art galleries. Luxury fashion and jewelry boutiques, cafes and celebrity-chef
                            restaurants.
                            Public art dotting the area includes the Fly’s Eye Dome, a geodesic dome designed by
                            Buckminster Fuller. </p>
                    </div>
                    <img class='img-fit' src="/assets/images/CityTour_MiamiDesignDistrict.jpg"
                        alt="Miami design district street">
                    <p class='img-tags tour-tag drk-blue'>Miami Design District</p>
                </div>
            </div>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>Downtown Miami is a busy shopping area with cultural and event
                            venues. Visit the
                            open-air malls, the American Airlines Arena for Miami Heat basketball games or big-name
                            concerts, the Adrienne Arsht
                            Center for Ballet and Opera and the Pérez Art Museum shows contemporary art.</p>
                    </div>
                    <img class='img-fit' src="/assets/images/CityTour_MiamiDowntown.jpg" alt="Downtown Miami airview">
                    <p class='img-tags tour-tag drk-blue'>Downtown Miami</p>
                </div>
            </div>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>Miami Beach is a south Florida island city, connected by
                            bridges to mainland Miami. Wide beaches
                            stretch from North Shore Open Space Park to South Pointe Park. The South Beach, is known for
                            its international cachet with
                            models and celebrities, and its Art Deco Historic district on Ocean Drive.</p>
                    </div>
                    <img class='img-fit' src="/assets/images/CityTour_MiamiBeach.jpg" alt="Sunset in Miami Beach">
                    <p class='img-tags tour-tag drk-blue'>Miami Beach</p>
                </div>
            </div>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>Little Havana is Miami’s vibrant Cuban heart, with Latin
                            American art galleries and busy restaurants.
                            Cafes with walk-up windows sell Cuban coffee to cigar-smoking patrons. On Calle Ocho (SW 8th
                            Street), locals discuss politics over
                            dominoes at Maximo Gomez Park, dubbed Domino Park by locals.</p>
                    </div>
                    <img class='img-fit' src="/assets/images/CityTour_LittleHavana.jpg"
                        alt="Cafe restaurant in Little Havana, Miami">
                    <p class='img-tags tour-tag drk-blue'>Little Havana</p>
                </div>
            </div>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>Key Biscayne is a Florida town on a barrier island across the
                            Rickenbacker Causeway from Miami. It
                            lies between 2 large parks: Crandon Park and Bill Baggs Cape Park, each with long, sheltered
                            beaches, mangroves and tropical
                            forest inhabited by birdlife, butterflies and loggerhead turtles. </p>
                    </div>
                    <img class='img-fit' src="/assets/images/CityTour_KeyBiscayne.jpg" alt="Lighthouse at Key Biscayne, Miami">
                    <p class='img-tags tour-tag drk-blue'>Key Biscayne</p>
                </div>
            </div>
            <div class='column is-one-third tile is-parent hover-tile'>
                <div class='is-child img-container white'>
                    <div class='overlay-tile tour-tile'>
                        <p class='overlay-text drk-blue'>The Wynwood Art District is a sub-district of Wynwood that
                            contains galleries, outdoor murals and private
                            art collections. The district is centered around Wynwood Walls, conceived of by the late
                            urban developer Tony Goldman in 2009. </p>
                    </div>
                    <img class='img-fit xtra-none' src="/assets/images/CityTour_WynwoodWalls.png"
                        alt="Graffiti mural art at Wynwood Walls, Miami">
                    <img class='img-fit xtra-full' src="/assets/images/CityTour_WynwoodWallsXtra.jpg"
                        alt="Graffiti mural art at Wynwood Walls, Miami">
                    <p class='img-tags tour-tag drk-blue'>Wynwood Walls</p>
                </div>
            </div>
        </div>
        <div class='link'>
            <a class='btn-book white btn--white' id='smartBtn' href="reservation.html" target="">Make a reservation
                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43" class="mdc-arrow">
                    <title>ArrowMDC</title>
                    <path class="white-bg"
                        d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z"
                        class="undefined">
                </svg>
            </a>
        </div>
        <div class='link'>
            <a class='btn-help white btn--white' id='helpBtn' href="Help\help_city.html" target="">Get Help
                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43" class="mdc-arrow">
                    <title>ArrowMDC</title>
                    <path class="white-bg"
                        d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z"
                        class="undefined">
                </svg>
            </a>
        </div>
    </div>
</section>