<footer class="footer">
  <!-- <div class="foot-content"> -->
  <div class="columns foot-content">
    <div class="column is-2 foot-content-column">
        <div class="envelope">
            <span class="icon is-large" id='env'>
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x" id="mailcircle"></i>
                  <i class="fas fa-envelope fa-stack-1x has-text-primary" id="envicon"></i>
                </span>
            </span>
            <span class="icon is-large" id="phone">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x" id="phonecircle"></i>
                  <i class="fas fa-mobile-alt fa-stack-1x has-text-primary"></i>
                </span>
            </span>
            
        </div>
        <div>
          <span id="phonenum" class="disable-icons">
            +1-786-236-5385
          </span>
          <span id="email" class="disable-icons">
            info@mdctravelcorp.com
          </span>
        </div>
        
    </div>
    <div class="column is-8 foot-content-column">
      <!-- <div class="foot-text"> -->
      <p class="has-text-centered">
        MDC Travel Corp | 4041 nw 25 st unit A Miami FL 33142<br />
        MDC Travel Corp is a Miami based TNC with online marketing service only
      </p>
      <!-- </div> -->
    </div>
    <div class="column is-2 foot-content-column">
      <!-- <div class="otc"> -->
      <a class="otc" href="http://google.com" target="_blank">OUR TERMS AND CONDITIONS</a>
      <!-- </div> -->

    </div>
  </div>
  </div>
</footer>