<section class='columns'>
    <div class='column container hero-text'>
        <h1 class='hero-title drk-blue'>Smart<br>Transfers</h1>
        <p class='drk-blue'>The best way to fulfill your arrival and departure needs.</p>
        <div class='link'>
            <a class='btn-book drk-blue btn--drk-blue' id='' href="#"
                target="#">Reserve a Smart Transfer
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 40" class="mdc-arrow">
                    <style type="text/css" class="undefined"></style>
                    <title>ArrowMDC</title>
                    <path class="drk-blue-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                    class="undefined">
                </svg>
            </a>
        </div>
    </div>
    <div class='column is-two-thirds hero-image'>
        <img src='images\smart_transfers_Hero.png' alt='MDC travel corp cars'>
    </div>
</section>

<!--Section two nanny 4 bags-->
<section class='columns'>
    <div class='column container hero-text'>
        <h2 class='hero-title drk-blue'>Nanny<br>4 Bags</h2>
        <p class='drk-blue'>Leave your luggage with us while you enjoy Miami.</p>
        <div class='link'>
            <a class='btn-book drk-blue btn--drk-blue' id='' href="#"
                target="#">Reserve a Nanny 4 Bags
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 40" class="mdc-arrow">
                    <style type="text/css" class="undefined"></style>
                    <title>ArrowMDC</title>
                    <path class="drk-blue-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                    class="undefined">
                </svg>
            </a>
        </div>
    </div>
    <div class='column is-two-thirds hero-image'>
        <img src='images\nanny_4_bags_Hero.png' alt='Nanny 4 Bags service'>
    </div>
</section>


<!--Section three roundtrips-->
<section class='columns'>
    <div class='column container hero-text'>
        <h2 class='hero-title drk-blue'>Round<br>Trips</h2>
        <p class='drk-blue'>Have a rounded visit to iconic malls or the Evergaldes.</p>
        <div class='link'>
            <a class='btn-book drk-blue btn--drk-blue' id='' href="#"
                target="#">Reserve a Round Trip
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 40" class="mdc-arrow">
                    <style type="text/css" class="undefined"></style>
                    <title>ArrowMDC</title>
                    <path class="drk-blue-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                    class="undefined">
                </svg>
            </a>
        </div>
    </div>
    <div class='column is-two-thirds hero-image'>
        <img src='images\RoundTrip_Hero.png' alt='Round trip to the malls'>
    </div>
</section>


<!--Section four city Tours-->
<section class='columns'>
    <div class='column container hero-text'>
        <h2 class='hero-title drk-blue'>City<br>Tours</h2>
        <p class='drk-blue'>Let us take you to the most iconic places of Miami.</p>
        <div class='link'>
            <a class='btn-book drk-blue btn--drk-blue' id='' href="#"
                target="#">Reserve a City Tour
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 40" class="mdc-arrow">
                    <style type="text/css" class="undefined"></style>
                    <title>ArrowMDC</title>
                    <path class="drk-blue-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                    class="undefined">
                </svg>
            </a>
        </div>
    </div>
    <div class='column is-two-thirds hero-image'>
        <img src='images\tours_Brickell_Hero.png' alt='City tour view around Brickell'>
    </div>
</section>