<div class='columns'>
    <section class='column personalized-bg' id="menuFour">
        <div class='container person-cont'>
            <div class='section-title p-bg'>
                <h2 class='personalized-title'>Personalized</h2>
            </div>
            <div class='xtra-white-bg'>
                <p class='section-subtitle blue sub-margin'>Do you have another idea for a perfect ride? Let us know.
                </p>
                <div class='link'>
                    <a class='btn-book blue btn--blue' id='personBtn' href="/reservation.html" target="">Personalized
                        booking
                        <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43"
                            class="mdc-arrow">
                            <title>ArrowMDC</title>
                            <path class="blue-bg"
                                d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z"
                                class="undefined">
                        </svg>
                    </a>
                </div>
                <div class='link'>
                    <a class='btn-help blue btn--blue' href="Help\help_personal.html" target="">Get Help
                        <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43"
                            class="mdc-arrow">
                            <title>ArrowMDC</title>
                            <path class="blue-bg"
                                d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z"
                                class="undefined">
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class='column white-bg'>
        <div class='container is-fluid'>
            <div class='section-title blue'>
                <div class='line blue-bg'></div>
                <h2>Reservations App</h2>
                <div class='line blue-bg'></div>
            </div>
            <div class='column no-pad card-margin'>
                <p class='section-subtitle blue'>Login with your user, keep track of your reservation and make new ones
                    by using the Book Rides Passenger App.</p>
            </div>

            <div class='contain-flex--badges'>
                <a class='badges' href="https://itunes.apple.com/app/id1188861753?mt=8" target="_blank"><img
                        class='apple-badge' src="/assets/images/button--apple-store.png" alt="Download on the App Store"></a>
                <a class='badges' href="https://play.google.com/store/apps/details?id=com.bookrides.passenger"
                    target="_blank"><img class='google-badge' src="/assets/images/button--google-play.png"
                        alt="Download on the App Store"></a>
            </div>

            <div class='contain-flex'>
                <a class='terms' href="/MDCTerms.html" target="_blank">Our Terms and Conditions</a>
                <div class='link'>
                    <a class='btn-help blue btn--blue' href="Help\help_app.html" target="">Get more info
                        <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43"
                            class="mdc-arrow">
                            <title>ArrowMDC</title>
                            <path class="blue-bg"
                                d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z"
                                class="undefined">
                        </svg>
                    </a>
                </div>
            </div>

        </div>
</div>
</div>
</section>
</div>