<section class='column blue-bg'>
    <div class='container is-fluid'>
        <div class='section-title'>
            <div class='line white-bg'></div>
            <h2 class='white'>Reservations</h2>
            <div class='line white-bg'></div>
        </div>
        <div class='container white-bg card-margin'>
            <div class='contain-flex'>
                <div class='link'>
                    <a class='btn-back blue btn--blue' id='' href="www.mdctravelcorp.com"
                        target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 40" class="mdc-arrow back-arrow">
                            <style type="text/css" class="undefined"></style>
                            <path class="blue-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                            class="undefined">
                        </svg>Go Back
                    </a>
                </div>
                <div class='link'>
                    <a class='btn-help blue btn--blue' href="#"
                        target="_blank">Get Help
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 40" class="mdc-arrow">
                        <style type="text/css" class="undefined"></style>
                            <title>ArrowMDC</title>
                             <path class="blue-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                             class="undefined">
                        </svg>
                    </a>
                </div>
            </div>
            <div class='form-container'><!--This is an empty class for the embedded code if needed-->
                <img class='' src="/assets/images/MuestraFormBookRides.png" alt="Form example">
            </div>
            <div class='contain-flex'>
                    <a class='terms white' href="#" target="_blank">Terms and Conditions</a><!--This will take me to terms and conditions page-->
                    <a class='terms white' href="#" target="_blank">Our Privacy Policy</a><!--Waiting for anser about this. If not change flex container-->
            </div>
        </div>
        <div class='contain-flex'>
            <div class='link'>
                <a class='btn-back white btn--white' id='reserveBtn' href="www.mdctravelcorp.com"
                    target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 40" class="mdc-arrow back-arrow">
                        <style type="text/css" class="undefined"></style>
                        <title>ArrowMDC</title>
                        <path class="white-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                            class="undefined">
                    </svg>  Go Back
                </a>
            </div>
            <div class='link'>
                <a class='btn-back white btn--white' id='reserveBtn' href="#"
                    target="_blank">Get Help
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 40" class="mdc-arrow">
                        <style type="text/css" class="undefined"></style>
                        <title>ArrowMDC</title>
                        <path class="white-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                            class="undefined">
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>