<!--RoundTrips Begin-->
<section id="menuTwo" class='column white-bg next-section '>
    <div class='container is-fluid'>
        <div class='section-title'>
            <div class='line blue-bg'></div>
            <h2 class='blue'>Round Trips</h2>
            <div class='line blue-bg'></div>
        </div>
        <p class='section-subtitle blue'>Take a trip to the most visited Miami Malls or go to the Everglades.</p>
        <div class='columns is-multiline is-centered is-ancestor xtra-flex'>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container blue'>
                    <div class='overlay-tile round-tile'>
                        <p class='overlay-text white'>With 2,370,610 square feet of retail selling space, Sawgrass Mills
                            it's
                            the eleventh largest single story mall in the United States. It opened in 1990 and has been
                            expanded four
                            times since then. There are over 329 retail outlets and name brand discounters.</p>
                    </div>
                    <img class='img-fit' src="/assets/images/RoundTrip_SawgrassMall.jpg"
                        alt="Sawgrass Mills Mall entrance, Miami">
                    <p class='img-tags round-tag white'>Sawgrass Mills Mall</p>
                </div>
            </div>
            <div class='column is-one-third xtra-half tile is-parent hover-tile'>
                <div class='is-child img-container blue'>
                    <div class='overlay-tile round-tile'>
                        <p class='overlay-text white'>Dolphin Mall is a shopping mall in Sweetwater, Miami-Dade County,
                            Florida, west of
                            the city of Miami. There are over 240 retail outlets and name-brand discounters as anchors.
                            The mall
                            opened in March 2001.</p>
                    </div>
                    <img class='img-fit' src="/assets/images/RoundTrip_DolphinMall.jpg" alt="Dolphin Mall entrance, Miami">
                    <p class='img-tags round-tag white'>Dolphin Mall</p>
                </div>
            </div>
            <div class='column is-one-third tile is-parent hover-tile'>
                <div class='is-child img-container blue'>
                    <div class='overlay-tile round-tile'>
                        <p class='overlay-text white'>Explore The Everglades, home of the American Alligators and family
                            fun located in Miami, Florida. When it’s time to take to the glades, hop on a luxury vessel
                            for the best Everglades airboat tour. (Tickets are sold separately).</p>
                    </div>
                    <img class='img-fit xtra-none' src="/assets/images/RoundTrip_Everglades.jpg"
                        alt="Everglades National Park, Miami">
                    <img class='img-fit xtra-full' src="/assets/images/RoundTrip_EvergladesXtra.jpg"
                        alt="Everglades National Park, Miami">
                    <p class='img-tags round-tag white'>Everglades National Park</p>
                </div>
            </div>
        </div>

        <div class='link'>
            <a class='btn-book blue btn--blue' id='roundTripBtn' href="/reservation.html" target="">Make a reservation
                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43" class="mdc-arrow">
                    <style type="text/css" class="undefined"></style>
                    <title>ArrowMDC</title>
                    <path class="blue-bg"
                        d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z"
                        class="undefined">
                </svg>
            </a>
        </div>
        <div class='link'>
            <a class='btn-help blue btn--blue' id='helpBtn' href="Help\help_round.html" target="">Get Help
                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43" class="mdc-arrow">
                    <title>ArrowMDC</title>
                    <path class="blue-bg"
                        d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z"
                        class="undefined">
                </svg>
            </a>
        </div>
    </div>
</section>