      <!--Start of Smart-Nanny sections-->
      <div class='columns is-gapless'>
        <section class='column drk-blue-bg' >
          <div id="menuOne" class='container is-fluid' >
            <div class='section-title'>
              <div class='line white-bg'></div>
              <h2>Smart Transfers</h2>
              <div class='line white-bg'></div>
            </div>
            <p class='section-subtitle'>Plan an entire route to go after your arrival or before your departure.</p>
            <div class='white-bg card-margin'>
              <p class='card--title blue-bg'>We are a certified TNC at:</p>
              <div class='card--content drk-blue'>
                <ul>
                  <li>Miami International Airport (MIA)</li>
                  <li>Ft.Lauderdale/HLWD Int. Airport (FLL)</li>
                  <li>Port Miami Seaport</li>
                </ul>
              </div>
            </div>
            <div class='link'>
              <a class='btn-book white btn--white' id='smartBtn' href="/reservation.html"
              target="">Book a Smart Transfer
                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43" class="mdc-arrow">
                  <style type="text/css" class="undefined"></style>
                  <title>ArrowMDC</title>
                  <path class="white-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                  class="undefined">
                </svg>
              </a>
            </div>
            <div class='link'>
                <a class='btn-help white btn--white' id='helpBtn' href="/Help/help.html"
                target="">Get Help
                  <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43" class="mdc-arrow">
                    <style type="text/css" class="undefined"></style>
                    <title>ArrowMDC</title>
                    <path class="white-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                    class="undefined">
                  </svg>
                </a>
            </div>
        </div>
        </section>
        <section class='column green-bg' id="menuOneB">
          <div class='container is-fluid'>
              <div class='section-title'>
                <div class='line white-bg'></div>
                <h2>Nanny 4 Bags</h2>
                <div class='line white-bg'></div>
              </div>
              <p class='section-subtitle'>Leave your luggage with us while you enjoy Miami.</p>
              <div class='columns is-mobile card-margin'>
                <div class='column white-bg no-pad'>
                    <p class='card--title blue-bg'>+ Pick Up</p>
                    <div class='card--content drk-blue'>
                      <ul>
                        <li>$25 Flat Rate** +</li>
                        <li>$7 per item</li>
                      </ul>
                      <p class='nanny-legend'>**Miami Dade County</p>
                    </div>
                </div>
                <div class='column white-bg no-pad'>
                      <p class='card--title blue-bg'>+ Smart Transfer</p>
                      <div class='card--content drk-blue'>
                        <ul>
                          <li>Transfer cost +</li>
                          <li>$7 per item</li>
                        </ul>
                      </div>
                </div>
              </div>
              <div class='link'>
                  <a class='btn-book white btn--white' id= 'nannyBtn' href="/reservation.html"
                  target="">Book a Nanny 4 Bags
                  <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43" class="mdc-arrow">
                    <title>ArrowMDC</title>
                    <path class="white-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                    class="undefined"></svg></a>
              </div>
              <div class='link'>
                  <a class='btn-help white btn--blue' href="Help\help_nanny.html"
                      target="">Get Help
                      <svg xmlns="http://www.w3.org/2000/svg" height="22" width="30" viewBox="5 -2 25 43" class="mdc-arrow">
                        <title>ArrowMDC</title>
                        <path class="white-bg" d="M24.6 18.5L15 1.5C14.5 0.6 13.5 0 12.5 0H1.8C0.8 0 0 0.8 0 1.8v36.4c0 1 0.8 1.8 1.8 1.8h10.7c1 0 2-0.6 2.5-1.5l9.6-17.1C25.1 20.5 25.1 19.4 24.6 18.5z" 
                        class="arrow">
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!--End of Smart-Nanny sections-->