<!--Start of Smart-Nanny sections-->
<div class='columns is-gapless'>
    <section class='column drk-blue-bg'>
      <div class='container is-fluid'>
        <div class='section-title'>
          <div class='line white-bg'></div>
          <h2>Smart Transfers</h2>
          <div class='line white-bg'></div>
        </div>
        <p class='section-subtitle'>Plan an entire route to go after your arrival or before your departure.</p>
        <div class='container is-fluid smart-card white-bg'>
          <p class='card--title green-bg'>We are a certified TNC at:</p>
          <div class='card--content'>
            <ul>
              <li>Miami International Airport (MIA)</li>
              <li>Ft.Lauderdale/HLWD Int. Airport (FLL)</li>
              <li>Port Miami Seaport</li>
            </ul>
          </div>
        </div>
        <p class='link'>
          <a class='active-area btn-book white btn--white' href="https://bookridesonline.com/book/?dlc=lzHINmv0Tuy0v4xJMKrAFg%3d%3d&dbaid=EPmIgh10Yyv32GjK8LMhtw%3d%3d"
          target="_blank">Book a Smart Transfer
            <img class="mdc-arrow" src="./images/ArrowMDC.svg" alt="button to booking form"/>
          </a>
        </p>
        <div>
          <p class='link'>
              <a class='active-area btn-help green btn--green' href="#"
              target="_blank">Get Help
                <img class="mdc-arrow" src="./images/ArrowMDC.svg" alt="button to booking form"/>
              </a>
          </p>
        </div>
    </div>
    </section>
    <section class='column green-bg'>
      <div class='container is-fluid'>
          <div class='section-title'>
            <div class='line white-bg'></div>
            <h2>Nanny 4 Bags</h2>
            <div class='line white-bg'></div>
          </div>
          <p class='section-subtitle'>Leave your luggage with us while you enjoy Miami.</p>
          <div class='nanny-container'>
            <div class='nanny-card white-bg'>
                <p class='card--title blue-bg'>+ Pick Up</p>
                <div class='card--content'>
                  <ul>
                    <li>$25 (Flat Rate**) +</li>
                    <li>$7 per item storaged</li>
                  </ul>
                  <p class='nanny-legend'>**Miami Dade County only</p>
                </div>
            </div>
            <div class='nanny-card white-bg'>
                  <p class='card--title blue-bg'>+ Smart Transfer</p>
                  <div class='card--content'>
                    <ul>
                      <li>Transfer cost +</li>
                      <li>$7 per item storaged</li>
                    </ul>
                  </div>
            </div>
          </div>
          <p class='link'>
              <a class='active-area btn-book white btn--white' href="https://bookridesonline.com/book/?dlc=lzHINmv0Tuy0v4xJMKrAFg%3d%3d&dbaid=EPmIgh10Yyv32GjK8LMhtw%3d%3d"
              target="_blank">Book a Nanny 4 Bags
                <img class="mdc-arrow" src="./images/ArrowMDC.svg" alt="button to booking form"/>
              </a>
          </p>
          <div>
            <p class='link'>
              <a class='active-area btn-help blue btn--blue' href="#"
                  target="_blank">Get Help
              <img class="mdc-arrow" src="./images/ArrowMDC.svg" alt="button to booking form"/>
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--End of Smart-Nanny sections-->