/*main layout settings*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #FFF;
}

h2 {
    min-width: 50%;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

/*filling colors*/
.white-bg {
    background-color: #FFF;
    fill: #FFF;
}

.drk-blue-bg {
    background-color: #3B5382;
    fill: #3B5382;
}

.green-bg {
    background-color: #32BBAA;
    fill: #32BBAA;
}

.blue-bg {
    background-color: #3377BB;
    fill: #3377BB;
}

.white {
    color: #FFF;
}

.drk-blue {
    color: #3B5382;
}

.green {
    color: #32BBAA;
}

.blue {
    color: #3377BB;
}
/*smart-nanny section starts*/

/*smart-nanny containers settings*/
.section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.section-subtitle {
    padding: 0.4em 1em;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.8rem;
}

.line {
    max-width: 30%;
    min-width: 20%;
    height: 0.1rem;
    align-self: center;
}

.nanny-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-margin {
    margin: 1em 1em;
}

.card--title {
    padding: 0.5em 1em;
    text-align: left;
}

.card--content {
    padding: 0.5em 1em;
}

/*links buttons*/
.link {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btn-book {
    display: inline-block;
    font-weight: 400;
    padding: 1rem 1.5rem 0.5rem 0.7rem;
}

.btn-help {
    display: inline-block;
    font-weight: 400;
    padding: 0.5rem 1.5rem 0.5rem 0.7rem;
    margin-bottom: 1.5rem;
}

a:visited {
    text-decoration: none;
}

.mdc-arrow {
    height: 1em;
    padding-left: 0.5em;
}

.arrow-blue {
    fill: #3377BB;
}

/*Conditions and switch colors on hover for buttons and MDC arrows*/
#smartBtn:hover {
    color: #3B5382;
    background-color: #FFF;
}

#smartBtn:hover .mdc-arrow .white-bg {
    fill: #3B5382;
}

#nannyBtn:hover {
    color: #32BBAA;
    background-color: #FFF;
}

#nannyBtn:hover .mdc-arrow .white-bg {
    fill: #32BBAA;
}

.btn--green:hover {
    color: #FFF;
    background-color: #32BBAA;
}

.btn--blue:hover {
    color: #FFF;
    background-color: #3377BB;
}

a:hover .mdc-arrow .green-bg{
    fill: #FFF;
}

a:hover .mdc-arrow .blue-bg{
    fill: #FFF;
}

/*unique classes styling*/
.nanny-legend {
    font-size: 0.9rem;
    padding-top: 15px;
}

/*Media queries for <1024px*/
@media (max-width: 1024px) {
 
}

/*smart-nanny section ends//////////*/